<main>
  <div>
    <section class="ctr--o">
      <p class="o__ti ft-o">NICOLAS IZQUIERDO</p>
      <div class="o__ctr">
        <a href="https://www.linkedin.com/in/nicolas-izquierdo-741953207/"><span class="lk"></span></a>
        <p class="ft-o">izjuannicolas@gmail.com</p>
      </div>
    </section>
    <section class="ctr--tw">
      <div class="tw__ctr--lf">
        <div class="ctr--op">
          <p class="ti ft-o ty">PROFILE</p>
          <p class="tp">I am a Software developer passionate about creating innovative and functional solutions. With more than 4 years of specialized experience in the use of Angular technologies, I have collaborated in various projects, from small companies to large corporations. My main focus is to create high-performance, scalable web applications with an attractive user interface.</p>
        </div>
        <div class="ctr--op">
          <p class="ti ft-o ty">WORK EXPERIENCE</p>
          <ul>
            <li class="ls ln"><p>09/2019 - 06/2023</p></li>
            <li class="ls ln"><p>BOGOTÁ, COLOMBIA</p></li>
            <li class="ln lt">FullStack Developer</li>
            <li class="ln lt">AMP INTEGRAL SOLUTION SAS</li>
            <li><p>Developed applications for database processing and tested created software.</p></li>
            <li><p>Maintained relevant documents and records and participated in the development of multiple.</p></li>
            <li><p>implemented new features and modifications to existing applications and performed other tasks as necesary.</p></li>
          </ul>
        </div>
        <div class="ctr--op">
          <p class="ti ft-o ty">EDUCATION</p>
          <ul>
            <li class="ln"><p>04/2018 - 06/2023</p></li>
            <li class="ln"><p>BOGOTÁ, COLOMBIA</p></li>
            <li class="lt pp"><p>Website Development at Platzi</p></li>
          </ul>
          <ul>
            <li class="ln"><p>02/2020 - 06/2024</p></li>
            <li class="ln"><p>BOGOTÁ, COLOMBIA</p></li>
            <li class="lt pp"><p>Computer Science International University of the Rioja</p></li>
          </ul>
        </div>
      </div>
      <div class="tw__ctr--rg">
        <div class="ctr--op">
          <p class="ti ft-o ty">SKILLS</p>
          <div class="rg__le">
            <p class="tl">LANGUAGES</p>
            <div class="le"><p>English</p><p class="yl">Full</p></div>
            <div class="le"><p>Spanish</p><p class="yl">Native</p></div>
          </div>
          <div class="rg__le">
            <p class="tl">SOFTWARE SKILLS</p>
            <p class="le">MS Office</p>
            <p class="le">Angular</p>
            <p class="le">Python</p>
            <p class="le">Java</p>
            <p class="le">Javascript</p>
          </div>
          <div class="rg__le">
            <p class="tl">SOFT SKILLS</p>
            <p class="le">Analytical Skills</p>
            <p class="le">Communication</p>
            <p class="le">Multitasking</p>
            <p class="le">Problem-solving</p>
            <p class="le">Teamwork</p>
            <p class="le">Time managment</p>
          </div>
        </div>
        <div class="ctr--op">
          <p class="ti ft-o ty">CERTIFICATES</p>
          <p><span>09/2021</span></p>
          <p>Certified FullStack Development at Platzi</p>
        </div>
      </div>
    </section>
  </div>
</main>